html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    background-color: #F16A27;
    padding: 15px;
    text-align: center;
}

#cabecalho {
    background: url("./images/cabecalho_bolo.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

h1, h2, h3, h4, h5, h6 {
    color: #F16A27;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.cartao {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 2opx;
}

.cartao:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.conteudo {
    margin: auto;
    max-width: 990px;
    padding: 0 40px;
    margin-top: 100px;
}

.ingredientes {
    cursor: url("./images/cursor_ingredientes.png"), auto;
}

.preparo {
    cursor: url("./images/cursor_preparo.png"), auto;

}

.instrucoes {
    cursor: url("./images/cursor_intrucoes.png"), auto;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 14px;
}

.botao-comprar {
    background-color: #F16A27;
    padding: 16px;
    border-radius: 20px;
}


.lista-ingredientes {
    margin-bottom: 50px;
}

p,
li {
    line-height: 28px;
}

.white {
    color: #fff;
}

.rodape {
    background-color: #F16A27;
    padding: 10px;
    text-align: center;
}

.rodape-texto {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
}

